<body>
<h1 class="text-center">Kedvenc autókölcsönzőm honlapja</h1>

<div class="container-fluid">
    <div class="row mt-1"></div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Menü:</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="">Járművek listája</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="car-form">Jármű rögzítése</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="user-form">Ügyfél rögzítése</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="status-form">Státusz rögzítése</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="container-fluid">
    <router-outlet></router-outlet>
</div>
</body>